.Notifications{
    border: 2px solid #E0003C;
    border-style: dashed;
    padding: 40px 40px;
}

ul li[data-priority='default'] {
    color: blue;
  }
  
  ul li[data-priority='urgent'] {
    color: red;
  }